@using IdsTemp.Models.Common
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UsersViewModel;

@{
    ViewData["Title"] = "Users";

    var sortModel = (SortModel)ViewData["sortModel"];

    var paginator = ViewBag.Paginator;
}

<div class="user-container">

    <h2 class="common-heading">Users</h2>

    <partial name="_topBar" model="@paginator"/>
    <div class="auth-new-button-container">
        <a asp-action="New" class="flex-cc common-button auth-new-button">New</a>
    </div>

    <div class="auth-table-container">
        <table class="auth-table">
            <thead class="auth-table__thead">
            <tr>
                <th>ID</th>
                <th>
                    <a class="auth-sort-column" asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("username").SortExpression"><i class="@sortModel.GetColumn("username").SortIcon" arial-hidden="true"></i>UserName</a>
                </th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>
                    <a class="auth-sort-column" asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("email").SortExpression"><i class="@sortModel.GetColumn("email").SortIcon" arial-hidden="true"></i>Email</a>
                </th>
                <th>Phone</th>
                <th>
                    <a class="auth-sort-column" asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("role").SortExpression"><i class="@sortModel.GetColumn("role").SortIcon" arial-hidden="true"></i>Role</a>
                </th>
                <th></th>

            </tr>
            </thead>

            <tbody class="auth-table__tbody">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td style="white-space: nowrap;max-width: 200px;overflow: hidden;text-overflow: ellipsis;">@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Role</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-info mr-1">Edit</a>|
                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>

        </table>
    </div>

    <partial name="_bottomBar" model="@paginator"/>
</div>