@model ApiScopeViewModel

@{
    ViewData["Title"] = "API Scopes";
}

<div class="admin-page">
    <h2 class="common-heading">API Scopes</h2>

    <form class="header-block flex-gap-1">
        <div class="search-block flex-gap-1">
            <input class="common-input" placeholder="Filter" id="filter" name="filter" type="text" value="@Model.Filter" autofocus/>
            <button class="flex-cc common-button">Search</button>
        </div>
        <div class="block-buttons flex-gap-1">
            <a asp-action="Index" class="flex-cc common-button back-button" asp-controller="Home">Back</a>
            <a asp-action="New" class="flex-cc common-button">New</a>
        </div>
    </form>

    <table class="table table-striped table-sm table-responsive-lg">
        <thead class="thead-dark">
        <tr class="users-tr-head">
            <th>Name</th>
            <th>Display Name</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var scope in Model.ApiScopes)
        {
            <tr>
                <td>@scope.Name</td>
                <td>@scope.DisplayName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@scope.Name" class="btn btn-info mr-1">Edit</a>
                    <a asp-action="Delete" asp-route-id="@scope.Name" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>

    </table>
</div>