@model ApiScopeViewModel

@{
    ViewData["Title"] = "API Scopes";

    var paginator = ViewBag.Paginator;
}

<div class="admin-page">
    <h2 class="common-heading">API Scopes</h2>

    <partial name="_topBar" model="@paginator"/>

    <table class="table table-striped table-sm table-responsive-lg">
        <thead class="thead-dark">
        <tr class="users-tr-head">
            <th>Name</th>
            <th>Display Name</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var scope in Model.ApiScopes)
        {
            <tr>
                <td>@scope.Name</td>
                <td>@scope.DisplayName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@scope.Name" class="btn btn-info mr-1">Edit</a>
                    <a asp-action="Delete" asp-route-id="@scope.Name" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>

    </table>

    <partial name="_bottomBar" model="@paginator"/>
</div>