@model ApiScopeViewModel

@{
    ViewData["Title"] = "API Scopes";

    var paginator = ViewBag.Paginator;
}

<div class="admin-page">
    <h2 class="common-heading">API Scopes</h2>

    <partial name="_topBar" model="@paginator"/>
    <div class="auth-new-button-container">
        <a asp-action="New" class="flex-cc common-button auth-new-button">New</a>
    </div>

    <div class="auth-table-container">
        <table class="auth-table">
            <thead class="auth-table__thead">
            <tr>
                <th>Name</th>
                <th>Display Name</th>
                <th></th>
            </tr>
            </thead>

            <tbody class="auth-table__tbody">
            @foreach (var scope in Model.ApiScopes)
            {
                <tr>
                    <td>@scope.Name</td>
                    <td>@scope.DisplayName</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@scope.Name" class="btn btn-info mr-1">Edit</a>
                        <a asp-action="Delete" asp-route-id="@scope.Name" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>

        </table>
    </div>


    <partial name="_bottomBar" model="@paginator"/>
</div>