@{
    ViewData["Title"] = "AdminPanel";
}

Index admin panel

<h2>
    IdentityServer Admin Panel
</h2>

<div class="row">
    <p>There are simple administrative pages.</p>
</div>

<div class="row">
    <div class="list-group">
        <a a href="@Url.Action("Index", "Clients")" class="list-group-item list-group-item-action">Clients</a>
        <a a href="@Url.Action("Index", "IdentityScopes")" class="list-group-item list-group-item-action">Identity Scopes</a>
        <a a href="@Url.Action("Index", "ApiScopes")" class="list-group-item list-group-item-action">API Scopes</a>
        <a a href="@Url.Action("Index", "Roles")" class="list-group-item list-group-item-action">Roles</a>
        <a a href="@Url.Action("Index", "Users")" class="list-group-item list-group-item-action">Users</a>
    </div>
</div>

@*<li>
    @Html.ActionLink("Product/Manage/About", "About", "Manage",
        new { area = "Products" })
</li>*@