@{
    ViewData["Title"] = "AdminPanel";
}
<h2 class="common-heading">Admin Panel</h2>

<!-- Cards -->
<div class="admin-cards">
    <!-- Clients -->
    <div class="admin-card">
        <div class="admin-card__header flex-cc">
            <h3 class="admin-card__title flex-cc">Clients</h3>
        </div>
        <div class="admin-card__body flex-cc">
            <div class="admin-card__icon flex-cc">
                <span class="bi bi-window-stack" title="Clients" aria-hidden="true"></span>
            </div>
            <a href="@Url.Action("Index", "Clients")" class="auth-button flex-cc">Manage</a>
        </div>
    </div>
    <!-- Identity Resources -->
    <div class="admin-card">
        <div class="admin-card__header flex-cc">
            <h3 class="admin-card__title">Identity Resources</h3>
        </div>
        <div class="admin-card__body flex-cc">
            <div class="admin-card__icon flex-cc">
                <span class="bi bi-tags" title="Identity Resources" aria-hidden="true"></span>
            </div>
            <a href="@Url.Action("Index", "IdentityScopes")" class="auth-button flex-cc">Manage</a>
        </div>
    </div>
    <!-- Api Scopes -->
    <div class="admin-card">
        <div class="admin-card__header flex-cc">
            <h3 class="admin-card__title">Api scopes</h3>
        </div>
        <div class="admin-card__body flex-cc">
            <div class="admin-card__icon flex-cc">
                <span class="bi bi-wrench" title="Api Scopes" aria-hidden="true"></span>
            </div>
            <a href="@Url.Action("Index", "ApiScopes")" class="auth-button flex-cc">Manage</a>
        </div>
    </div>


    <!-- Users -->
    <div class="admin-card">
        <div class="admin-card__header flex-cc">
            <h3 class="admin-card__title">Users</h3>
        </div>
        <div class="admin-card__body flex-cc">
            <div class="admin-card__icon flex-cc">
                <span class="bi bi-people-fill" title="Users" aria-hidden="true"></span>
            </div>
            <a href="@Url.Action("Index", "Users")" class="auth-button flex-cc">Manage</a>
        </div>
    </div>
    <!-- Roles -->
    <div class="admin-card">
        <div class="admin-card__header flex-cc">
            <h3 class="admin-card__title">Roles</h3>
        </div>
        <div class="admin-card__body flex-cc">
            <div class="admin-card__icon flex-cc">
                <span class="bi bi-key" title="Roles" aria-hidden="true"></span>
            </div>
            <a href="@Url.Action("Index", "Roles")" class="auth-button flex-cc">Manage</a>
        </div>
    </div>

    <!-- Audit Logging -->
    <div class="admin-card">
        <div class="admin-card__header flex-cc">
            <h3 class="admin-card__title">Audit Logs</h3>
        </div>
        <div class="admin-card__body flex-cc">
            <div class="admin-card__icon flex-cc">
                <span class="bi bi-eye" title="Audit Logging" aria-hidden="true"></span>
            </div>
           <a href="@Url.Action("Index", "Logs")" class="auth-button flex-cc">Manage</a>
        </div>
    </div>
</div>