@using System.Reflection
@using Duende.IdentityServer.Extensions

@{
    var version = typeof(Duende.IdentityServer.Hosting.IdentityServerMiddleware).Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion.Split('+').First();
}

<div class="welcome-page">
    <h1 class="auth-heading">
        <img src="~/duende-logo.svg" class="logo" alt="logo">
        Welcome to Duende IdentityServer
    </h1>
    @if (!User.IsAuthenticated())
    {
        <div class="not-auth-cards flex-cc">
            <!-- Login -->
            <div class="admin-card">
                <div class="admin-card__header flex-cc">
                    <h3 class="admin-card__title flex-cc">Login</h3>
                </div>
                <div class="admin-card__body flex-cc">
                    <div class="admin-card__icon flex-cc">
                        <span class="bi bi-shield-lock" title="Login" aria-hidden="true"></span>
                    </div>
                    <a href="@Url.Action("Login", "Account")" class="auth-button flex-cc">Login</a>
                </div>
            </div>
            <!-- Discovery Document -->
            <div class="admin-card">
                <div class="admin-card__header flex-cc">
                    <h3 class="admin-card__title flex-cc">Discovery Document</h3>
                </div>
                <div class="admin-card__body flex-cc">
                    <div class="admin-card__icon flex-cc">
                        <span class="bi bi-display" title="Discovery Document" aria-hidden="true"></span>
                    </div>
                    <a href="~/.well-known/openid-configuration" class="auth-button flex-cc">Discovery Document</a>
                </div>
            </div>
        </div>
    }

    @if (User.IsAuthenticated())
    {
        <!--Cards -->
        <div class="admin-cards">
            <!-- Persisted Grants -->
            <div class="admin-card">
                <div class="admin-card__header flex-cc">
                    <h3 class="admin-card__title flex-cc">Persisted Grants</h3>
                </div>
                <div class="admin-card__body flex-cc">
                    <div class="admin-card__icon flex-cc">
                        <span class="bi bi-key" title="Persisted Grants" aria-hidden="true"></span>
                    </div>
                    <a href="@Url.Action("Index", "Grants")" class="auth-button flex-cc">Persisted Grants</a>
                </div>
            </div>
            <!-- Settings -->
            <div class="admin-card">
                <div class="admin-card__header flex-cc">
                    <h3 class="admin-card__title flex-cc">Settings</h3>
                </div>
                <div class="admin-card__body flex-cc">
                    <div class="admin-card__icon flex-cc">
                        <span class="bi bi-gear" title="Settings" aria-hidden="true"></span>
                    </div>
                    <a href="@Url.Action("Index", "Settings")" class="auth-button flex-cc">Settings</a>
                </div>
            </div>
            <!-- My profile -->
            <div class="admin-card">
                <div class="admin-card__header flex-cc">
                    <h3 class="admin-card__title flex-cc">My profile</h3>
                </div>
                <div class="admin-card__body flex-cc">
                    <div class="admin-card__icon flex-cc">
                        <span class="bi bi-person-lines-fill" title="My profile" aria-hidden="true"></span>
                    </div>
                    <a href="@Url.Action("Index", "Manage")" class="auth-button flex-cc">My profile</a>
                </div>
            </div>
            <!-- My personal data -->
            <div class="admin-card">
                <div class="admin-card__header flex-cc">
                    <h3 class="admin-card__title flex-cc">My personal data</h3>
                </div>
                <div class="admin-card__body flex-cc">
                    <div class="admin-card__icon flex-cc">
                        <span class="bi bi-clipboard2-check" title="My personal data" aria-hidden="true"></span>
                    </div>
                    <a href="@Url.Action("Index", "Grants")" class="auth-button flex-cc">My personal data</a>
                </div>
            </div>
            <!-- 2FA -->
            <div class="admin-card">
                <div class="admin-card__header flex-cc">
                    <h3 class="admin-card__title flex-cc">Two-factor authentication</h3>
                </div>
                <div class="admin-card__body flex-cc">
                    <div class="admin-card__icon flex-cc">
                        <span class="bi bi-phone" title="Two-factor authentication" aria-hidden="true"></span>
                    </div>
                    <a href="@Url.Action("Index", "Grants")" class="auth-button flex-cc">Two-factor authentication</a>
                </div>
            </div>
            <!-- Change Password -->
            <div class="admin-card">
                <div class="admin-card__header flex-cc">
                    <h3 class="admin-card__title flex-cc">Change Password</h3>
                </div>
                <div class="admin-card__body flex-cc">
                    <div class="admin-card__icon flex-cc">
                        <span class="bi bi-pencil-square" title="Change Password" aria-hidden="true"></span>
                    </div>
                    <a href="@Url.Action("ChangePassword", "Manage")" class="auth-button flex-cc">Change Password</a>
                </div>
            </div>
        </div>
    }


</div>