@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IdsTemp.Models.Common.PaginatorModel


<div class="top-bar">
    <form class="header-block flex-gap-1">
        <div class="search-block flex-gap-1">
            <input class="search-input" placeholder="Search" name="SearchText" type="text" value="@ViewBag.SearchText"/>
        </div>
        <div class="block-buttons flex-gap-1">
            <button class="flex-cc common-button" type="submit">Search</button>
            <a asp-action="Index" class="flex-cc common-button back-button" asp-controller="Home">Back</a>
        </div>
    </form>
    <ul class="top-pagination">

            @if (Model.CurrentPage > 1)
            {
                <li class="top-pagination__item flex-cc">
                    <a class="top-pagination__link" asp-action="@Model.Action"
                       asp-route-pg="1"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortExpression="@Model.SortExpression">
                        First
                    </a>
                </li>
                <li class="top-pagination__item flex-cc">
                    <a class="top-pagination__link" asp-action="@Model.Action"
                       asp-route-pg="@(Model.CurrentPage - 1)"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortExpression="@Model.SortExpression">
                        Previous
                    </a>
                </li>
            }

            @for (var pge = Model.StartPage; pge <= Model.EndPage; pge++)
            {
                <li class="top-pagination__item flex-cc @(pge == Model.CurrentPage ? "top-pagination__item_active" : "")">
                    @if (pge != Model.CurrentPage)
                    {
                        <a class="top-pagination__link" asp-action="@Model.Action"
                           asp-route-pg="@pge"
                           asp-route-pageSize="@Model.PageSize"
                           asp-route-searchText="@Model.SearchText"
                           asp-route-sortExpression="@Model.SortExpression">
                            @pge
                        </a>
                    }
                    else
                    {
                        <span class="top-pagination__link">@pge</span>
                    }

                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="top-pagination__item flex-cc">
                    <a class="top-pagination__link" asp-action="@Model.Action"
                       asp-route-pg="@(Model.CurrentPage + 1)"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortExpression="@Model.SortExpression">
                        Next
                    </a>
                </li>
                <li class="top-pagination__item flex-cc">
                    <a class="top-pagination__link" asp-action="@Model.Action"
                       asp-route-pg="@(Model.TotalPages)"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortExpression="@Model.SortExpression">
                        Last
                    </a>
                </li>
            }

        </ul>
</div>